cmd
[0-9]*_r[0-9]*_t[0-9]*
classicalbits*.out
shorgpu*.log
timing*.txt
randomnumbers.out
make.sh
build/*
obj/*
tmp/*
old/*
/*.o
TODO
!**/.gitkeep
venv
*.sw*
*.bin
*.qdrep
*.sqlite
.nfs*
core.*
.ipynb_checkpoints
Thumbs.db*
